<!-- <div class="just">
    <mat-progress-bar color="primary" mode="determinate" value="40"></mat-progress-bar>
</div> -->

<!-- <div class="another-one">
    <p>This is the Timeline, where you will find all the information.</p>
</div> -->
<!-- <p>progress works!</p> -->
<div class="heading">  
    <div class="leftpart"></div>
    <div class="centerhead">
    Requirement
    </div>
    
    <button mat-stroked-button [matMenuTriggerFor]="menu" class="generate" style=" padding: 0px 3px">Generate Report <mat-icon>keyboard_arrow_down
        </mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Overall report</button>
        <button mat-menu-item>Arcitecture</button>
        <button mat-menu-item>Painter</button>
        <button mat-menu-item>Pl</button>
    </mat-menu>


</div>