    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <mat-toolbar class="mat-elevation-z8">
      <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
          menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
          close
        </mat-icon>
      </button>
      <!-- <div class="right">  -->
      <div class="tlt">Lonavala's Project</div>
      <!-- <div></div>
        <div class="logout">
          <span>
            <mat-icon matSuffix>power_settings_new</mat-icon>
          </span>
        </div>
      </div> -->
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    
    </mat-toolbar>
    
    <mat-sidenav-container>
      <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    
        <img class="avatar mat-elevation-z8" src="../assets/01.jpeg" />
    
        <h4 class="name">Arpi Patel</h4>
        <!-- <p class="designation">Software Engineer</p> -->
    
        <mat-divider></mat-divider>
    
        <!-- <button mat-raised-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-raised-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-raised-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button> -->
        <div class="magneto">
          <div class="project-mem">
            <h3 class="josh">Project Members</h3>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>add</mat-icon>
                <span>Add Member</span>
              </button>
              <!-- <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button> -->
              <button mat-menu-item>
                <mat-icon>remove</mat-icon>
                <span>Remove Member</span>
              </button>
            </mat-menu>
          </div>
          <div class="btns">
    
            <div>
              <button class="example-button-container" mat-raised-button>
                <mat-icon>account_circle</mat-icon>
                Person_01
              </button>
            </div>
    
            <div>
              <button class="example-button-container" mat-raised-button>
                <mat-icon>account_circle</mat-icon>
                Person_02
              </button>
            </div>
    
            <div>
              <button class="example-button-container" mat-raised-button>
                <mat-icon>account_circle</mat-icon>
                Person_03
              </button>
            </div>
          </div>
        </div>
      
    
    
      <mat-divider></mat-divider>
      <div class="magneto">
        <div class="project-mem">
          <h3 class="josh">Pending Request</h3>
        </div>
        <div class="btns">
    
          <div>
            <button class="example-button-container" mat-raised-button>
              <mat-icon>account_circle</mat-icon>
              Person_01
            </button>
          </div>
    
          <div>
            <button class="example-button-container" mat-raised-button>
              <mat-icon>account_circle</mat-icon>
              Person_02
            </button>
          </div>
    
          
        </div>
      </div>
    
         
    
      </mat-sidenav>
      <mat-sidenav-content>
        <app-tab></app-tab>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    <!-- <router-outlet></router-outlet> -->
 